   * {
			margin: 0em;
			padding: 0em;
			border: 0em;
	}

	html, body, #wrap {
			height: 100%;
	}

	body {
			font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
			padding-left: 25px;
	}
	
	img {
		margin-left:50px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h1 {
			font-size:35px;
			margin-top:10;
			margin-left:60px;
			margin-bottom:10px;
			font-weight:bold;
			color:#4F4F4F;
	}

	h2 {
			font-family:'Source Sans Pro', Helvetica, sans-serif;
			font-size: 26px;
			line-height:21px;
			padding-top:7px;
			padding-bottom:14px;
			margin-left:60px;
			letter-spacing: 0px;
			color:#4F4F4F;
	}
	h3 {
		font-size: 20px;
		margin-left:60px;
	}
	
	.blue{
			color:#003EFF;
			margin-top:10px;
	}

	p {
			font-family:'Source Sans Pro', Helvetica, sans-serif;
			font-size: 17px;
			line-height:21px;
			padding-top:5px;
			padding-bottom:14px;
			margin-left:60px;
			margin-right:60px;
			letter-spacing: 0px;
			color:#1F1F1F;
			text-align:justify;
			
	}
	
	nav {
			font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
			width:500px;
			font-size:21px;
			line-height:28px;
			text-align:justify;
			padding-bottom:7px;
	}
	
	ul {
		list-style-type:none;
		margin-left: 60px;
	}
	
	a {
			color:#2B2B2B;
			text-decoration:none;
	}

	a:hover {
			color:#003EFF;
			text-decoration:none;
	}
	#wrap {
			/*border: 1px solid #C73B0B;*/
			width:550px;
			height:800px;
			border-radius:2px;
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			/*background-color:#E0DFDB;*/
			/*background-color:#F0F0F0;*/
	}
	
	li {
		margin-bottom: 0.5em;
	}
	
	img {
		margin-left: auto;
		margin-right: auto;
	}

	footer {
			margin-left: 50px;
			padding-top: 20px;
	}
			   
		/* floats */
.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}
.center {
	text-align: center;
}