* {
	margin:0px;
	padding:0px;
	border:0px;
}
aside, article, section, header, footer, nav {display: block;}
		
aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, h5, div {margin:0; padding:0;}

 #wrap {
    	/*border: 1px solid #C73B0B;*/
		width:900px;
		margin:40px auto;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		background-color:#333333	;
		color:#fff;
		weight:bold;
		opacity:0.9;
        }
 h1, h2, p, li, img {
 	margin:10px;
 }
 h1,h2, footer{
 	text-align: center;
 	padding-bottom:5px;
 }
 p{
 	font-size:1.5em;
 	line-height: 31px;
 	padding-bottom:7px;
 	text-align:justify;
 	padding-right:20px;
 	padding-left: 20px;
 }
li{
	font-size:1.3em;
	color:#fff;
	weight:bold;
	text-decoration: none;
	list-style-type:none;
	margin-left: 380px;
}
nav li a{
	color:#fff;
	text-decoration: none;
}
 nav{
 	margin-bottom:20px;
 	padding-bottom: 20px;
 }
